{% if page.google-adsense-noshow.sidebar %}
     {%assign chave=false%}
{% else %}
     {%assign chave=true%}
{% endif %}

{% if chave %}
     <div align="center" style="margin: 1em 0;">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- ad-unit_square -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-4699563125299312"
               data-ad-slot="5480790064"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
     </div>
{% endif %}